/* Configuração base da pagina */
*{
    padding: 0;
    margin: 0;
    border: 0;
    vertical-align: baseline;
    list-style: none;
    text-decoration: none;
}
/* Layout do header da página */
.navbar-brand{
    display: flex;
    align-items: center;
    padding: 2rem;
    color: #E6B9A6;
}
.header-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-header{
    display: grid;
    grid-template-areas: "navbar-brand d-flex";
    background-color: #2F3645;
    color: #E6B9A6;
    height: 10vh;
    width: 100vw;
}
.d-flex{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 2rem;
    gap: 5px;
}
.btn-outline-success{
    border-radius: 10px;
    padding: 1rem;
    max-width: 6rem;
    max-height: 3rem;
    background-color: #EEEDEB;
}
.btn-outline-success:hover{
    transition-duration: 0.5s;
    background-color: #E6B9A6;
}
.form-control{
    border-radius: 10px;
    padding: 1rem;
    max-width: 20rem;
    max-height: 3rem;
}
/* Configuração do carrossel de imagens */
.div-images{
    display: flex;
    justify-content: center;
    padding: 5rem;
    font-size: 2rem;
    background-color: #E6B9A6;
    color: #2F3645;
}
/* Configuração da main page */
.main-page{
    display: flex;
    flex-wrap: wrap;
    gap: 10rem;
    background-color: #E6B9A6;
    color: #2F3645;
    justify-content: center;
    height: 50vh;
    max-width: 100%;
}
.click-here{
    border-radius: 10px;
    padding: 1rem;
    background-color: #2F3645;
    color: #EEEDEB;
    cursor: pointer;
}
.click-here:hover{
    transition-duration: 0.5s;
    background-color: #596783;
}
.btn-js{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.numbers{
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    border-color: #2F3645;
    padding: 0.5rem;
    background-color: #EEEDEB;
    gap: 2.5px;
    align-items: center;
}
.result{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.sum-calc{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
/* configuração do layout do footer */
.div-footer{
    display: grid;
    grid-template-areas: 
    "logo-redes redes"
    "texto redes";
    background-color: #2F3645;
    color: #E6B9A6;
    height: 
    20vh;
    width: 100vw;
}
.redes{
    grid-area: redes;
    display: flex;
    justify-content: right;
    align-items: center;
}
.redes ul{
    display: flex;
    gap: 2.5rem;
    padding: 1rem;
}
.texto{
    grid-area: texto;
    display: flex;
    align-items: end;
}
h6{
    font-size: 1rem;
}
/* configuração produtos */
.div-products{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5rem;
    gap: 2rem;
    font-size: 1.5rem;
}
.div-products img{
    max-height: 201px;
    max-width: 251px;
}
.submit-buy{
    border-radius: 10px;
    padding: 1rem;
    max-width: 8rem;
    max-height: 5rem;
    background-color: #2F3645;
    color: #EEEDEB;
}
.submit-buy:hover{
    transition-duration: 0.5s;
    background-color: #E6B9A6;
    color: #2F3645;
    cursor: pointer;
}
.subtitle{
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.phone1{
    display: flex;
    justify-content: center;
}

/* configuração DOM */
#field-text{
    border-radius: 10px;
    padding: 1rem;
    max-width: 10rem;
    max-height: 3rem;
    background-color: #EEEDEB;
    color: black;
    cursor: text;
}
.div-dom{
    padding: 1rem;
}
.teste{
    border-radius: 10px;
    padding: 1rem;
    background-color: #2F3645;
    color: #EEEDEB;
    cursor: pointer;
}
.teste:hover{
    transition-duration: 0.5s;
    background-color: #596783;
}

/*
#2F3645
#939185
#E6B9A6
#EEEDEB */