/* Configuração base da pagina */
*{
    padding: 0;
    margin: 0;
    border: 0;
    vertical-align: baseline;
    list-style: none;
    text-decoration: none;
}
/* Layout do header da página */
.navbar-brand{
    display: flex;
    align-items: center;
    padding: 2rem;
    color: #E6B9A6;
}
.header-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-header{
    display: grid;
    grid-template-areas: "navbar-brand d-flex";
    background-color: #2F3645;
    color: #E6B9A6;
    height: 10vh;
    width: 100vw;
}
.d-flex{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 2rem;
    gap: 5px;
}
.btn-outline-carrinho{
    border-radius: 1rem;
    padding: 1rem;
    width: 10rem;
    max-height: 3rem;
    background-color: #EEEDEB;
}
.btn-outline-carrinho:hover{
    transition-duration: 0.5s;
    background-color: #a6a7a8;
    color:azure;
    cursor: pointer;
} 
/* Configuração do carrossel de imagens */
.div-images{
    display: flex;
    justify-content: center;
    padding: 5rem;
    font-size: 2rem;
    background-color: #E6B9A6;
    color: #2F3645;
}
.user-name{
    display: flex;
    padding: 2rem;
    font-size: 2rem;
}
.main-page2{
    padding: 0.5rem;
    font-size: 2rem;
    background-color: #E6B9A6;
    color: #2F3645;
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;

}
/* configuração do layout do footer */
.div-footer{
    display: grid;
    grid-template-areas: 
    "logo-redes redes"
    "texto redes";
    background-color: #2F3645;
    color: #E6B9A6;
    height: 
    20vh;
    width: 100vw;
}
.redes{
    grid-area: redes;
    display: flex;
    justify-content: right;
    align-items: center;
}
.redes ul{
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    padding: 1rem;
}
.texto{
    grid-area: texto;
    display: flex;
    align-items: end;
}
h6{
    font-size: 1rem;
}
/* configuração produtos */
.produtos {
    margin: 2%;
}

.produtos__lista {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.produtos__item {
    flex: 0 1 calc(30% - 1rem);
    max-width: 20rem;
    margin: 1rem;
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
img{
    max-width: 20rem;
    max-height: 15rem;
}
.submit{
    padding: 1rem;
    background-color: #2F3645;
    color: aliceblue;
    border-radius: 2rem;
    cursor: pointer;
}
.submit:hover{
    transition: 0.5s;
    background-color: #5b5e66;
}
.cart-values{
    border: 2px solid black;
    padding: 5rem;
}
#cart-button{
    padding: 1rem;
    border-radius: 1rem;
    background-color: #2F3645;
    color: aliceblue;
}
#cart-button:hover{
    transition: 0.5s;
    background-color: #5b5e66;
    cursor: pointer;
}

/*
#2F3645
#939185
#E6B9A6
#EEEDEB */

aside {
    background-color: #E6B9A6;
    width:0vw;
    font-family:'Hepta Slab', Helvetica, Arial;
    transition:all ease .2s;
    overflow-x:hidden;
}

aside.show {
    width:30vw;
    background-color: #E6B9A6;
}

.cart--area {
    margin-top: 30px; /* ajuste */
    padding:20px;
    background-color: #E6B9A6;
}

.cart--area h1 {
    display: relative;
}
@media (max-width:840px) {
    body {
        flex-direction: column;
    }
    .pizza-area {
        display:block;
    }
    .pizza-item {
        max-width:100%;
    }
    header {
        display:flex;
    }
    /*
    main {
        padding-top:60px;
    }
    */
    aside {
        width:auto;
        position:fixed;
        left:100vw;
        right:0;
        top:0;
        bottom:0;
        transition: all ease .2s;
    }
    aside.show {
        width:auto;
    }
    .cart--area {
        width:100vw;
    }

    .menu-closer {
        display:block;
    }
}